<div class="py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Dashboard</h2>
            <p class="mt-6 text-lg leading-8 text-gray-600">Welcome to admin dashboard.</p>
        </div>
        <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
            <!--All Products-->
            <a class="cursor-pointer" routerLink="../products">
              <img class="aspect-[3/2] w-full rounded-2xl object-cover" src="../../../../assets/images/products.jpeg" alt="">
              <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Products</h3>
              <p class="text-base leading-7 text-gray-600">Add, Edit and delete product</p>
            </a>

            <!--All Users--> 
            <a class="cursor-pointer" routerLink="./allusers">
                <img class="aspect-[3/2] w-full rounded-2xl object-cover" src="../../../../assets/images/users.jpeg" alt="">
                <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Users</h3>
                <p class="text-base leading-7 text-gray-600">Block and unblock users</p>
            </a>

            <!--All Orders-->
            <a class="cursor-pointer" routerLink="./alloders">
                <img class="aspect-[3/2] w-full rounded-2xl object-cover" src="../../../../assets/images/orders.jpeg" alt="">
                <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">All Orders</h3>
                <p class="text-base leading-7 text-gray-600">Track and update orders</p>
            </a>
      
            <!--All Coupons-->
            <a class="cursor-pointer" routerLink="../products">
                <img class="aspect-[3/2] w-full rounded-2xl object-cover" src="../../../../assets/images/coupouns.jpeg" alt="">
                <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Coupons</h3>
                <p class="text-base leading-7 text-gray-600">Add and remove coupons</p>
            </a>

            <!--All Categories-->
            <a class="cursor-pointer" routerLink="../products">
                <img class="aspect-[3/2] w-full rounded-2xl object-cover" src="../../../../assets/images/categories.jpeg" alt="">
                <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Categories</h3>
                <p class="text-base leading-7 text-gray-600">Add and remove categories</p>
            </a>
        </ul>
    </div>
</div>
      