<div class="py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Dashboard</h2>
            <p class="mt-6 text-lg leading-8 text-gray-600">Welcome to admin dashboard.</p>
        </div>
        <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
            <!--All Products-->
            <li>
              <img class="aspect-[3/2] w-full rounded-2xl object-cover" src="https://images.unsplash.com/photo-1526152505827-d2f3b5b4a52a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
              <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Products</h3>
              <p class="text-base leading-7 text-gray-600">Add, Edit and delete product</p>
            </li>

            <!--All Users-->
            <li>
                <img class="aspect-[3/2] w-full rounded-2xl object-cover" src="https://images.unsplash.com/photo-1576267423445-b2e0074d68a4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Users</h3>
                <p class="text-base leading-7 text-gray-600">Block and unblock users</p>
            </li>

            <!--All Orders-->
            <li>
                <img class="aspect-[3/2] w-full rounded-2xl object-cover" src="https://plus.unsplash.com/premium_photo-1666299697104-61e3d9a26b10?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">All Orders</h3>
                <p class="text-base leading-7 text-gray-600">Track and update orders</p>
            </li>
      
            <!--All Coupons-->
            <li>
                <img class="aspect-[3/2] w-full rounded-2xl object-cover" src="https://plus.unsplash.com/premium_photo-1670509045675-af9f249b1bbe?q=80&w=2035&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Coupons</h3>
                <p class="text-base leading-7 text-gray-600">Add and remove coupons</p>
            </li>

            <!--All Categories-->
            <li>
                <img class="aspect-[3/2] w-full rounded-2xl object-cover" src="https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Categories</h3>
                <p class="text-base leading-7 text-gray-600">Add and remove categories</p>
            </li>
        </ul>
    </div>
</div>
      