<ng-container *ngIf="product">
<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
    <!-- Product details -->
    <div class="lg:max-w-lg lg:self-end">
      <div class="mt-4">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
           {{ product.product_name }} 
           <span class="text-gray-700">by brand</span>

           <ng-container mat-raised-button
            matTooltip="Add to Favourites"
            aria-label="" *ngIf="!isFavourite">
              <span class="text-gray-500 ml-6 cursor-pointer" (click)="addToFavourites()">
                <fa-icon class="user-icon" [icon]="faHeart"></fa-icon>
              </span>
          </ng-container>
          <ng-container mat-raised-button
            matTooltip="Add to Favourites"
            aria-label="" *ngIf="isFavourite">
              <span class="text-gray-500 ml-6  cursor-pointer" (click)="removeFromFavourites()">
                <fa-icon class="user-icon" [icon]="faHeart" [style.color]="'red'"></fa-icon>
              </span>
          </ng-container>
        </h1>
      </div>
      

      <section aria-labelledby="information-heading" class="mt-4">
        <h2 id="information-heading" class="sr-only">Product information</h2>

        <div class="flex items-center">
          <p class="text-lg text-gray-900 sm:text-xl">{{ product.price | currency }}</p>

          <div class="ml-4 border-l border-gray-300 pl-4">
            <h2 class="sr-only">Reviews</h2>
            <div class="flex items-center">
              <app-ratings [score]="product.ratings"></app-ratings>
              <!-- <p class="ml-2 text-sm text-gray-500">1624 reviews</p> -->
            </div>
          </div>
        </div>

        <div class="mt-4 space-y-6">
          <p class="text-base text-gray-500">{{ product.product_description }}</p>
        </div>

        <div class="mt-6 flex items-center">
          <svg class="h-5 w-5 flex-shrink-0 text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
          </svg>
          <p class="ml-2 text-sm text-gray-500">In stock and ready to ship</p>
        </div>
      </section>
    </div>

    <!-- Product image -->
    <div class="mt-10 lg:col-start-2 lg:row-span-2 lg:mt-0 lg:self-center">
      <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg">
        <img [src]="'../../../../assets/images/' + product.product_img" class="h-full w-full object-cover object-center"/>
      </div>
    </div>

    <div class="mt-10 lg:col-start-1 lg:row-start-2 lg:max-w-lg lg:self-start">
      <section aria-labelledby="options-heading">
        <div class="mt-10">
          <button type="submit" (click)="addToCart()" class="flex w-full items-center justify-center rounded-md border border-transparent bg-gray-500 px-8 py-3 text-base font-medium text-white hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50">Add to bag</button>
        </div>
        <div class="mt-6 text-center">
          <p class="group inline-flex text-base font-medium">
            <svg class="mr-2 h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
            </svg>
            <span class="text-gray-500 hover:text-gray-700">Lifetime Guarantee</span>
          </p>
        </div>
      </section>
    </div>
  </div>

  <!--revies and comments-->
  <div class="mx-auto px-4 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8">
    <div class="lg:grid lg:grid-cols-7 lg:grid-rows-1 lg:gap-x-8 xl:gap-x-16">
      <div class="mx-auto mt-16 w-full max-w-2xl lg:col-span-4 lg:mt-0 lg:max-w-none">
        <div>
          <div class="border-b border-gray-200">
            <h1 class="text-xl font-bold tracking-tight text-gray-900 sm:text-4xl"> Reviews:</h1>
          </div>
          <h3 class="text-sm font-medium text-gray-900">Rating</h3>
          <div class="row">
            <div class="col-sm-12">
              <div *ngIf="selectedValue === 0">
                <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block" >
                  <li (click)="countStar(star)"
                      [ngClass]="{'selected': (star <= selectedValue)}">
                      <svg class="text-gray-200 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                      </svg>
                  </li> 
                </ul>
              </div>
              <div *ngIf="selectedValue !==0">
                <app-ratings [score]="selectedValue"></app-ratings>
              </div>
              <div>
                <div class="mt-6">
                  <form  class="max-w-2xl bg-white rounded-lg border p-2 mx-auto mt-2" onsubmit="$event.stopPropagation()">
                    <div class="px-3 mb-2 mt-2">
                        <textarea id="comment" #titleInput placeholder="comment" class="w-full bg-gray-100 rounded border border-gray-400 leading-normal resize-none h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white"></textarea>
                    </div>
                    <div class="flex justify-end px-4">
                        <button (click)="onCommentChange(titleInput.value);titleInput.value=''" type="button" class="px-2.5 py-1.5 rounded-md text-white text-sm bg-black">Comment</button>
                    </div>
                  </form>
              </div>

            </div>
          </div>
          <ng-container *ngIf="product.commentsList.length > 0">
            <div *ngFor="let comment of product.commentsList">
              <div class="flex space-x-4 text-sm text-gray-500">
                <div class="py-10">
                  <h3 class="font-medium text-gray-900">{{comment.commenter}} commented:</h3>
                  <div class="mt-4 flex items-center">
                    <app-ratings [score]="comment.rating"></app-ratings>
                  </div>
  
                  <div class="prose prose-sm mt-4 max-w-none text-gray-500">
                    <p>{{comment.comment}}</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="product.commentsList.length == 0">
            <div class="mt-6">
              <p class="text-base text-gray-500">No reviews yet.</p>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>


</div>
</div>
</ng-container>