<div class="mt-4 flow-root">
  <div class="lg:ml-20">
    <div class="relative box-content h-80 overflow-x-auto py-2 xl:overflow-x-visible overflow-y-hidden">
      <div class="absolute flex space-x-8 px-4 sm:px-6 lg:px-8 xl:relative xl:grid xl:grid-cols-6 xl:gap-x-8 xl:space-x-0 xl:px-0">
        <a (click)="onCategoryClick({id:1})" routerLink="./products" class="relative flex h-80 w-56 flex-col overflow-hidden rounded-lg p-6 hover:opacity-75 xl:w-auto">
          <span aria-hidden="true" class="absolute inset-0">
            <img src="../../../../assets/images/men.jpeg" alt="" class="h-full w-full object-cover object-center">
          </span>
          <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-2/3 bg-gradient-to-t from-gray-800 opacity-50"></span>
          <span class="relative mt-auto text-center text-xl font-bold text-white">Men</span>
        </a>
        <a (click)="onCategoryClick({id:2})" routerLink="./products"class="relative flex h-80 w-56 flex-col overflow-hidden rounded-lg p-6 hover:opacity-75 xl:w-auto">
          <span aria-hidden="true" class="absolute inset-0">
            <img src="../../../../assets/images/women.jpeg" alt="" class="h-full w-full object-cover object-center">
          </span>
          <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-2/3 bg-gradient-to-t from-gray-800 opacity-50"></span>
          <span class="relative mt-auto text-center text-xl font-bold text-white">Women</span>
        </a>
        <a (click)="onCategoryClick({id:3})" routerLink="./products" class="relative flex h-80 w-56 flex-col overflow-hidden rounded-lg p-6 hover:opacity-75 xl:w-auto">
          <span aria-hidden="true" class="absolute inset-0">
            <img src="../../../../assets/images/Accessories.jpeg" alt="" class="h-full w-full object-cover object-center">
          </span>
          <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-2/3 bg-gradient-to-t from-gray-800 opacity-50"></span>
          <span class="relative mt-auto text-center text-xl font-bold text-white">Accessories</span>
        </a>
        <a (click)="onCategoryClick({id:4})" routerLink="./products" class="relative flex h-80 w-56 flex-col overflow-hidden rounded-lg p-6 hover:opacity-75 xl:w-auto">
          <span aria-hidden="true" class="absolute inset-0">
            <img src="../../../../assets/images/kids.jpeg" alt="" class="h-full w-full object-cover object-center">
          </span>
          <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-2/3 bg-gradient-to-t from-gray-800 opacity-50"></span>
          <span class="relative mt-auto text-center text-xl font-bold text-white">Kids</span>
        </a>
        <a (click)="onCategoryClick({id:5})" routerLink="./products"class="relative flex h-80 w-56 flex-col overflow-hidden rounded-lg p-6 hover:opacity-75 xl:w-auto">
          <span aria-hidden="true" class="absolute inset-0">
            <img src="../../../../assets/images/home-decor.jpeg" alt="" class="h-full w-full object-cover object-center">
          </span>
          <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-2/3 bg-gradient-to-t from-gray-800 opacity-50"></span>
          <span class="relative mt-auto text-center text-xl font-bold text-white">Home Decor</span>
        </a>
      </div>
    </div>
  </div>
</div>